body {
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
h1 {
  margin-top: 110px;
  font-size: 90px;
  color: white;
  font-family: "Titan One", cursive;
  margin-bottom: 70px;
}
button {
  margin-left: 90px;
}